twitter:
  # API key and secret: Think of these as the user name and password that represents your Twitter developer app when making API requests.
  consumerKey: "" #Consumer apiKey
  consumerSecret: "" # Consumer apiKeySecret
  bearerToken: ""
  accessToken: ""
  accessTokenSecret: ""
  # An access token and access token secret are user-specific credentials used to authenticate OAuth 1.0a API requests.
  # They specify the Twitter account the request is made on behalf of.
database:
  host: ""
  port: ""
  dbname: ""
  user: ""
  password: ""
